.container {
  margin: 0px auto;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  max-width: 1000px;
  @include mobile() {
    padding: 0px;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  @include pad() {
    justify-content: space-around;
  }
  .menu-icon {
    display: none;
    cursor: pointer;
    @include pad() {
      display: block;
    }
  }
  .logo {
    height: 40px;
    width: 215px;
    background-image: url("https://hexschool.github.io/webLayoutTraining1st/student-week1/logo-all-dark.svg");
    background-repeat: no-repeat;
    text-indent: 101%;
    overflow: hidden;
    word-wrap: nowrap;
    a {
      display: block;
      height: 100%;
      width: 100%;
    }
    @include pad() {
      height: 18px;
      width: 115px;
      background-image: url("https://hexschool.github.io/webLayoutTraining1st/student-week1/logotype-lg-dark.svg");
    }
  }
  @include pad() {
    align-items: center;
  }
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 320px;
  @include pad() {
    width: fit-content;
  }
}

.nav-menu-item {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  a:link,
  a:hover,
  a:visited,
  a:active {
    color: #3f5d45;
    text-decoration: none;
  }
  @include pad() {
    &.desktop {
      display: none;
    }
  }
}

.phone-menu {
  margin-top: 20px;
  word-wrap: none;
  overflow: hidden;
  height: 0px;
  transition: height linear 0.13s;
  text-align: center;
  &.show {
    height: 0px;
    @include pad() {
      height: 96px;
    }
  }
}

.phone-menu-item {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  a:link,
  a:hover,
  a:visited,
  a:active {
    color: #3f5d45;
    text-decoration: none;
  }
}

.shopping-cart {
  margin-left: 20px;
  cursor: pointer;
}

.banner {
  display: block;
  margin-top: 30px;
  width: 100%;
  @include pad() {
    margin-top: 0px;
  }
}

.subscribe {
  background-color: #3f5d45;
  margin-top: 76px;
  padding-top: 38px;
  padding: 38px;
  color: #eaf0ed;

  .title {
    display: flex;
    align-items: center;

    p {
      padding-left: 20px;
      line-height: 33px;
      font-size: 24px;
    }
  }

  form {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @include pad() {
    margin-top: 30px;
    padding: 30px;
    form {
      flex-direction: column;
    }
    .subscribe-group {
      margin-top: 30px;
    }
  }
}

.subscribe-group {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 56px;
  background-color: #eaf0ed;
  label {
    padding-left: 20px;
    padding-right: 20px;
  }
  .input-email {
    height: 56px;
    border: none;
    line-height: 33px;
    font-size: 24px;
    background-color: #eaf0ed;
    color: #3f5d45;
    &:focus {
      outline: none;
    }
    @include mobile() {
      width: 100%;
      max-width: 80%;
    }
  }

  .input-submit {
    height: 100%;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    background-color: #ffe180;
    &:focus {
      outline: none;
    }
  }
}

.footer {
  background-color: #eaf0ed;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 30px;
  color: #3f5d45;
  padding-bottom: 30px;

  .info {
    display: flex;
    justify-content: space-between;
  }

  .contact {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 16px;
    line-height: 24px;
  }

  .title {
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    padding-top: 0.5em;
    text-indent: -0.5em;
    line-height: 30px;
    font-size: 23px;
    letter-spacing: 6px;
    font-weight: bolder;
  }

  .copyright {
    margin-top: 26px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .social-list {
    display: flex;
  }

  .social-item {
    margin-right: 8px;
  }
  @include mobile() {
    padding-left: 20px;
    padding-right: 20px;
    .contact ul {
      margin-top: 40px;
    }

    .title {
      display: none;
    }

    .copyright-text {
      margin-top: 23px;
    }

    .copyright {
      align-items: flex-start;
      flex-direction: column;
    }
  }
}
